.container {
    padding: 15px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.quote-block {
    border-color: #28b9f1;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 0px; 
    padding-top: 15px;
    padding-bottom: 15px;
    height:120px;
    margin-bottom: 40px;
}

.quote-block .right-thick-border {
    border-right-color: #28b9f1;
    border-right-width: 3px;
    border-right-style: solid;
}

.quote-block .quote-text {
    line-height: 120%;
    font-size: 16px;
}

.quote-block .left {
    padding: 20px;
    padding-top: 33px;
    padding-bottom: 33px;
    border-right-color: #28b9f1;
    border-right-width: 3px;
    border-right-style: solid;
}

.my-bold {
    font-weight: 600;
}

.my-link:hover {
    color: #1C7DA2;
}

.uk-table td {
    border-bottom: 1px solid #e5e5e5
}

.uk-table th {
    border-bottom: 1px solid #e5e5e5
}

.quote-block .right {
    padding: 15px;
    font-size: 16px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 25px;
    text-align: left;
}

.no-padding {
    padding-left: 0px !important;
}

figcaption {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

figcaption h6 {
    font-size: 16px;
    font-weight:600;
    margin:0px;
    margin-bottom: 5px;
}

figcaption h5 {
    font-size: 15px;
    margin:0px;
    text-align: center;
}

figcaption hr {
    margin: 0px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

figcaption .icons {
    text-align: center;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    width: 35px;
    height: 27px;
    padding-top: 8px;
    margin: auto;
}

figcaption .icons a {
    margin: auto;
}

figcaption .icons:hover {
    color: #28b9f1;
    border-color:#28b9f1;
}

.content-holder h3 {
    font-size: 25px;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #2f7abd;
    min-width: 140px;
    width: 40%;
    color: #2f7abd;
    font-weight: 400;
}

.sub-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #2f7abd;
    min-width: 200px;
    width: 30%;
    color: #2f7abd;
    font-weight: 400;
}

.content-holder h4 {
    text-align: center;
    font-size: 24px;
}

.content-holder h4>span, .slideshow-holder h4>span{
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
}

h4>span.extra-padding {
    padding-bottom: 3px;
}

.container .uk-width-1-1>h4>span {
    color: #28b9f1;
    font-weight: 600;
    border-bottom: 2px solid #28b9f1;
    padding-left: 5px;
    padding-right: 5px;
}

.content-holder h5 {
    text-align: center;
    font-size: 18px;
}

.service-panel h3 {
    font-size:15px;
    color: #2f7abd;
}

.service-panel h3>span {
    text-align: left;
    padding-bottom: 3px;
    padding-right: 5px;
    border-bottom: 1px solid #2f7abd;
    color: #2f7abd;
    font-weight: 400;
}

.bullet-icon {
    padding-right: 8px;
}

.content-holder p {
    font-size: 15px;
    margin-left: 5px;
    line-height: 120%;
    padding-top:10px;
    padding-bottom: 10px;
}

.border-left {
    border-left-color: #444;
    border-left-style: solid;
    border-left-width: 1px;
}

.border-left-panel {
    border-left-color: #BFBFBF;
    border-left-style: solid;
    border-left-width: 1px;
}

.uk-overlay img {
    width: 100%;
    height: 100%;
}

.full-height {
    height: 100% !important;
}

.no-padding-all {
    padding: 0px 5px !important;

}

@media (min-width: 768px) {

    .slideshow-holder {
        padding-top: 30px !important; 
    }

    .page-title {
        margin-bottom: 15px;
    }

    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    .only-small {
        display:none;
    }

    .desktop-40-margin {
        margin-top: 40px !important;
    }

    .desktop-40-margin {
        margin-top: 30px !important;
    }

    .content-holder {
        padding-right: 20px;
    }

    .grid-padding-bottom {
        padding-bottom: 15px !important
    }
}

@media (max-width: 960px) {
    .container {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .desktop-30-margin {
        margin-top: 5px !important;
    }
}

@media (max-width: 950px) {
    .exec hr {
        display: none;
    }

    .exec .icons {
        display: none;
    }

    .member hr {
        display: none;
    }

    .member .icons {
        display: none;
    }
}

@media (max-width: 768px) {

    .content-holder.some-padding-mobile {
        padding-top: 10px !important;
    }

    .page-title {
        margin-bottom: 30px;
    }

    .exec .icons {
        display: block !important;
    }

    .exec hr {
        display: block !important;
    }

    .content-holder {
        margin-top: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .content-holder h4 {
        margin: 0px;
        margin-top: 0px !important;
    }

    .container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: none;
    }

    .only-small {
        display:block;
    }

    .desktop-40-margin {
        margin-top: 5px !important;
    }

    .desktop-30-margin {
        margin-top: 5px !important;
    }

    .no-padding-mobile {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .grid-padding-bottom {
        padding-bottom: 20px !important;
    }

}

@media (max-width: 480px) {
    
    .exec hr {
        display: none !important;
    }

    .exec .icons {
        display: none !important;
    }

    .member h5 {
        display: none !important;
    }

    .only-mobile {
        display: block !important;
    }

    .content-holder {
        padding-right: 0px !important;
    }

    .ani {
        font-size: 13px !important;
    }

    .img-margin {
        margin-top:0px !important;
        margin-bottom:0px !important;
    }

    .not-mobile {
        display: none;
    }
}

.uk-accordion .uk-accordion-title {
    color: #2f7abd;
    background-color: #ECECEC;
}

.uk-accordion .uk-list {
    font-size: 15px !important; 
    margin-left: 20px !important;
}

@media(max-width: 768px) {

    .img-margin {
        margin-top:0px;
        margin-bottom:0px;
    }
}

@media(min-width:960px) {
    
    .img-margin {
        margin-top:0px;
        margin-bottom:0px;
    }

    .grid-padding-bottom {
        padding-bottom: 15px !important
    }
}
